

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
    margin: 0;
  }
  h2{
    font-family: monospace;
  }
  
  .stopwatch-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .stopwatch {
    margin-top: 20px;
  }
  
  .timer {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    background-color: #222;
    color: white;
    border-radius: 8px;
    display: inline-block;
  }
  
  button {
    margin: 0 10px;
    padding: 5px 15px;
    font-size: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #pauseBtn{
    background-color: red;
  }
  #resetBtn{
    background-color: orangered;
  }
  #milliseconds {
    font-size: 1rem;
  }
  